{% include 'header.html' %}
<style>
    .container {
        background-color: white;
    }

</style>
<div class="container shadow rounded m-5">
    <form action="/addcertificate" autocomplete="on" method="POST" enctype="multipart/form-data">
        <div class="m-5">
            <label for="certName">Certification Name</label>
            <input type="text" class="form-control" id="Certification Name" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="m-5">
            <label for="certDesc">Certification Description</label>
            <textarea class="form-control" id="certDesc" rows="3"></textarea>
        </div>
        <div class="m-5">
            <input type="file" class="form-control" name="myfile">
        </div>
        <button type="submit" class="btn btn-primary m-5">Submit</button>
    </form>
</div>
{% include 'footer.html' %}