{% include 'header.html' %}
<style>
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }

    .table-title .add-new {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 13px;
    }

    .table-title .add-new i {
        margin-right: 4px;
    }

    table.table {
        table-layout: fixed;
    }

    table.table tr th,
    table.table tr td {
        border-color: #e9e9e9;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table th:last-child {
        width: 100px;
    }

    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

    table.table td a.add {
        color: #27C46B;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #E34724;
    }

    table.table td i {
        font-size: 19px;
    }

    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

    table.table .form-control.error {
        border-color: #f50000;
    }

    table.table td .add {
        display: none;
    }
</style>
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper col-md-11 shadow rounded m-5 bg-white">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Employee Certification</h2>
                    </div>
                    <div class="col-sm-4 mr-1 mt-2">
                        <a href="/addcertificate" class="btn btn-info add-new"><i class="fa fa-plus"></i>Add New</a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-3">Certification Name</th>
                        <th class="col-md-5">Certification Description</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in certificate %}
                    <tr>
                        <td>{{row[3]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>
                            <form action="/viewcertificate" method="POST" class="d-inline">
                                <input type="hidden" name="certId" value="{{row[0]}}">
                                <button type="submit" name="view" class="btn btn-info btn-sm">View</button>
                            </form>
                            <form action="/modifycertificateconfirmation" method="POST" class="d-inline">
                                <input type="hidden" name="certId" value="{{row[0]}}">
                                <button type="submit" name="modify" class="btn btn-success btn-sm">Modify</button>
                            </form>
                            <form action="/deletecertificateconfirmation" method="POST" class="d-inline">
                                <input type="hidden" name="certId" value="{{row[0]}}">
                                <button type="submit" name="delete" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'footer.html' %}