{% include 'header.html' %}
{% if cert %}
<div class="col-md-11 shadow rounded m-5 bg-white">
    <div class="m-5 pt-5">
        <label for="dateTitle">Date upload:</label>
        <label for="datetime">{{cert[3]}}</label>
    </div>
    <div class="m-5 pt-5">
        <label for="certNameTitle">Certification Name</label>
        <label for="certName">{{cert[1]}}</label>
    </div>
    <div class="m-5">
        <label for="certDescTitle">Certification Description</label>
        <label for="certDesc">{cert[2]}}</label>
    </div>
    <div class="m-5">
        <a href=""><img src=# style="width: 250px"></a>
    </div>
    <form action="/deletecertificate" method="POST">
        <input type="hidden" name="certId" value="{{cert[0]}}">
        <button type="submit" name="view" class="btn btn-danger">Delete</button>
    </form>
    <a href="/certificate" class="btn btn-danger float-right">Back</a>
</div>
{% endif %}
{% include 'footer.html' %}