{% include 'header.html' %}
<style>
    .primary-bg {
        background-color: var(--main-bg-color);
    }

    .secondary-bg {
        background-color: var(--second-bg-color);
    }

    .rounded-full {
        border-radius: 100%;
    }
</style>
<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">5</h3>
                    <p class="fs-5">Employees</p>
                </div>
                <i class="fas fa-user fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>

        <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">3</h3>
                    <p class="fs-5">Department</p>
                </div>
                <i class="fas fa-building fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>

        <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">3</h3>
                    <p class="fs-5">Performance Note</p>
                </div>
                <i class="fas fa-sticky-note fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>

        <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">2</h3>
                    <p class="fs-5">Certification</p>
                </div>
                <i class="fas fa-certificate fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>
    </div>

    <style>
        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }
    
        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }
    
        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }
    
        .table-title .add-new i {
            margin-right: 4px;
        }
    
        table.table {
            table-layout: fixed;
        }
    
        table.table tr th,
        table.table tr td {
            border-color: #e9e9e9;
        }
    
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
    
        table.table th:last-child {
            width: 100px;
        }
    
        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }
    
        table.table td a.add {
            color: #27C46B;
        }
    
        table.table td a.edit {
            color: #FFC107;
        }
    
        table.table td a.delete {
            color: #E34724;
        }
    
        table.table td i {
            font-size: 19px;
        }
    
        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }
    
        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }
    
        table.table .form-control.error {
            border-color: #f50000;
        }
    
        table.table td .add {
            display: none;
        }
    </style>
    <div class="container-lg">
        <div class="table-responsive">
            <div class="table-wrapper col-md-11 shadow rounded m-5 bg-white">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Performance Note</h2>
                        </div>
                        <div class="col-sm-4 mr-1 mt-2">
                            <a href="/addperformancenote" class="btn btn-info add-new"><i class="fa fa-plus"></i>Add New</a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2">Title</th>
                            <th class="col-md-5">Description</th>
                            <th class="col-md-5">Resolver/Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in pn %}
                        <tr>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[4]}}</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}