{% include 'header.html' %}
<div class="col-md-11 shadow rounded m-5 bg-white">
    <form action="/addcertificate" autocomplete="on" method="POST" enctype="multipart/form-data">
        <div class="m-5 pt-5">
            <label for="certName">Certification Name</label>
            <input type="text" class="form-control" name="certName" aria-describedby="emailHelp"
                placeholder="Enter Certification Name" required>
        </div>
        <div class="m-5">
            <label for="certDesc">Certification Description</label>
            <textarea class="form-control" name="certDesc" rows="3" required></textarea>
        </div>
        <div class="m-5">
            <input type="file" class="form-control" name="myCert" accept="image/png, image/gif, image/jpeg" required>
        </div>
        <button type="submit" class="btn btn-primary m-5">Submit</button>
    </form>
    <a href="/certificate" class="btn btn-danger float-right">Back</a>
</div>
{% include 'footer.html' %}